*{
font-family: 'Outfit', sans-serif;
font-size:15px;
background-color:#d6e2f0;
}
.main{
display:flex;
flex-direction:column;
width:375px;
height:600px;
margin:10px;
border-radius:10px;
overflow:hidden;
box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3);
background-color:#ffffff;
}
.main1{
margin:20px;
background-color:#ffffff;
}
.img{
width:100%;
height:60%;
background-color:#ffffff;
}
.text{
height:45%;
background-color:#ffffff;
}
#image{
width:100%;
height:100%;
border-radius:10px;
background-color:#ffffff;
}
#h21,#h22{
margin-left:35px;
color:#1f3251;
font-weight:700;
font-size:1.6rem;
line-height:1;
background-color:#ffffff;
}
#h21{
line-height:0.2px;
margin-top:35px;
}
#h22{
margin-top:-15px;
}
#one,#two,#three{
line-height:0.8;
font-size:1rem;
background-color:#ffffff;
}
#one{
margin-left:45px;
}
#two{
margin-left:45px;
margin-top:-5px;
}
#three{
margin-left:100px;
}
#one,#two,#three{
font-weight:400;
color:#7b879d;
}
.text{
padding-top:15px;
}
@media(min-width:376px){
.main{
width:500px;
height:667px;
}
#h21,#h22{
margin-left:100px;
}
#one{
margin-left:120px;
}
#two{
margin-left:119px;
}
#three{
margin-left:180px;
}
.img{
height:60%;
}
}


